.bg-blue {
  background-color: $riverBed!important;
}
.bg-lightBlue {
  background-color: $wildSand!important;
}
.bg-lightGrey {
  background-color: $gallery!important;
}
.text-white {
  color: $white!important;
}
.text-blue {
  color: $riverBed!important;
}
.text-grey {
  color: $mineShaft!important;
}
.text-light-grey {
  color: $dustyGray!important;
}
.text-center {
  text-align: center!important;
}
.text-italic {
  font-style: italic!important;
}
.pleft0 {
  padding-left: 0!important;
}
.pright0 {
  padding-right: 0!important;
}
.bot20 {
  margin-bottom: 20px!important;
}